# Temporary files
.dev-assets

# Build directory (src/ contains the source code)
/build

# dotenv environment variables file
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# REMOVE
node_modules/*
!node_modules/@wordpress
node_modules/@wordpress/**/node_modules
