# If using in the root WP directory, use the following configuration
parameters:
	level: 6
	paths:
		- .dev-assets
		- wp-content/mu-plugins
		- wp-content/plugins
		- wp-content/themes
	excludePaths:
		analyse:
			- .dev-assets/phpstan (?)

# If using in a plugin or theme directory, use the following configuration
# parameters:
# 	level: 6
# 	paths:
# 		- .
# 	excludePaths:
# 		analyse:
# 			- .dev-assets/phpstan (?)
# 			- node_modules (?)
# 			- vendor (?)
